.container {
  width: 12rem;
  height: 12rem;
  background-color: #00bfff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
}

.breathing {
  background-color: #ff1493;
}

.clock {
  padding: 1rem;
  color: #008080;
}

.count {
  padding: 1rem;
}

.button {
  width: 6rem;
  height: 6rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
}

.animated {
  animation-name: cssAnimation;
  animation-duration: 1s;
}

@keyframes cssAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
