.container {
  width: 10rem;
  height: 10rem;
  background-color: #00bfff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
}

.breathing {
  background-color: #ff1493;
}
